In [9]:

import pandas as pd
import os

In [10]:
def merge_files(directory, keyword):
    # Get the current working directory
    cwd = os.getcwd()
    # Create the path to the 'cmt' directory
    directory_path = os.path.join(cwd, directory)

    # Get a list of all the file paths in the directory
    file_paths = [os.path.join(directory_path, filename) for filename in os.listdir(directory_path) if filename.endswith('.csv') and keyword in filename]

    # Read each file into a DataFrame and add it to the list
    dfs = [pd.read_csv(file_path) for file_path in file_paths]

    # Concatenate all the DataFrames in the list
    df = pd.concat(dfs, ignore_index=True)

    return df

In [23]:
aapl_merged = merge_files('cmt', 'aapl')
aapl_merged.head()

,submission_id,submission_title,comment_text,upvotes
0,17sz3xi,Trying to understand this chart. Massive AAPL ...,Looks fine to me. The large institutional inve...,13
1,17sz3xi,Trying to understand this chart. Massive AAPL ...,you need to investigate opening and closing pr...,10
2,17sz3xi,Trying to understand this chart. Massive AAPL ...,Bands and clouds: The Ichimoku and Bollinger. ...,-2
3,17sz3xi,Trying to understand this chart. Massive AAPL ...,What form can I find stock tips,-2
4,17sz3xi,Trying to understand this chart. Massive AAPL ...,... or is the market going black after all?,-1

In [24]:
amd_merged = merge_files('cmt', 'amd')
amd_merged.head()

,submission_id,submission_title,comment_text,upvotes
0,17scpov,$NVDA $AMD rise - Chip gains as sector ending ...,The surge today was due to TSM's monthly reven...,3
1,17scpov,$NVDA $AMD rise - Chip gains as sector ending ...,How is Nvidia selling to Chinese startups?,2
2,17scpov,$NVDA $AMD rise - Chip gains as sector ending ...,I have tsm at 99\n\nI've been waiting to sell ...,1
3,17scpov,$NVDA $AMD rise - Chip gains as sector ending ...,Selling because it went down. Should've averag...,2
4,17leoks,Thoughts on $AMD?,If I draw a line to the top with a blue crayon...,59

In [25]:
msft_merged = merge_files('cmt', 'msft')
msft_merged.head()

,submission_id,submission_title,comment_text,upvotes
0,17s8uuv,Microsoft $MSFT at all time high!,I've later regretted every time that I sold it...,49
1,17s8uuv,Microsoft $MSFT at all time high!,Sold my position at an average of $312. This i...,86
2,17s8uuv,Microsoft $MSFT at all time high!,They can even de-throne Apple in case AI hype ...,109
3,17s8uuv,Microsoft $MSFT at all time high!,"In time, Microsoft will be more valuable than ...",11
4,17s8uuv,Microsoft $MSFT at all time high!,I bought it during Covid on the way up.\nI thi...,10

In [26]:
nio_merged = merge_files('cmt', 'nio')
nio_merged.head()

,submission_id,submission_title,comment_text,upvotes
0,18hzuzp,Opinions?,First of all congratulations on starting early...,11
1,18hzuzp,Opinions?,Put it all in VOO and you’ll be good,3
2,18hzuzp,Opinions?,Put all your money in ONE single S&P 500 ETF,3
3,18hzuzp,Opinions?,opinions don't matter.,2
4,18hzuzp,Opinions?,Please stop buying QYLD. This thing doesn’t ma...,2

In [27]:
tsla_merged = merge_files('cmt', 'tsla')
tsla_merged.head()

,submission_id,submission_title,comment_text,upvotes
0,1867wce,TSLA Bulish,Expecting a 10-point pop today,1
1,1867wce,TSLA Bulish,"Well, this didn't age well...",2
2,180pzw2,Sold 1/3 of my TSLA shares so I could feed bab...,China.,89
3,180pzw2,Sold 1/3 of my TSLA shares so I could feed bab...,"Baba peaked, SoftBank dumped, Jack Ma dumped, ...",65
4,180pzw2,Sold 1/3 of my TSLA shares so I could feed bab...,"50% market cap in cash, fair value 150 USD/sha...",14

In [28]:
aapl_merged.to_csv('aapl_merged.csv', index=False)
amd_merged.to_csv('amd_merged.csv', index=False)
msft_merged.to_csv('msft_merged.csv', index=False)
nio_merged.to_csv('nio_merged.csv', index=False)
tsla_merged.to_csv('tsla_merged.csv', index=False)